h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.tile {
    border: 1px solid rgba(197, 197, 197, 0.952);
    width: 23px;
    height: 23px;
}

.controls {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
}