h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: 650px;
    margin: 0 auto;
}

.tile {
    outline: 1px solid rgba(156, 156, 156);
    margin: 0 auto;
}

.controls {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
}